fastapi
uvicorn

pandas
numpy
scikit-learn
xgboost
statsmodels

python-multipart

pydantic
python-dotenv

joblib

requests

matplotlib
seaborn

azure-identity
azure-ai-projects

openai

agent-framework